body {
  margin: 0;
  width: 100%;
  background-color: rgb(21, 21, 21)
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
}

#header a {
  margin: auto;
}

.profile-image {
  height: 160px;
  width: 160px;
  margin: auto;
  margin-top: 40px;
  border-radius: 100px;
  padding: 0;
}

#header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 34px;
  color: white;
  margin: auto;
  padding: 10px;
  padding-bottom: 0;
}

#header h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: white;
  margin: auto;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 50px;
}

#header-links {
  width: 100%;
  margin: auto;
  background-color: rgb(20, 20, 20);
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#header-links a {
  width: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #cccccc;
  text-decoration: none;
  margin: 0;
}

#header-links a:hover {
  color: #ffffff;
}

#bio {
  display: flex;
  flex-direction: row;
}

#about {
  width: 70%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(77, 77, 77);
  color: white;
  padding-left: 10px;
  padding-bottom: 20px;
}

#about h3 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
}

#about p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  padding: 20px;
  padding-top: 0;
  margin: 0;
  width: 85%;
}

#skills-list {
  width: 30%;
  height: 350px;
  color: white;
  background-color: rgb(41, 41, 41);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 10px;
  padding-top: 40px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

#skills-list h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 20px;
  width: 100%;
}

#skills-list .badge {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: width .25s;
}

#skills-list .badge:hover {
  height: 90px;
  width: 90px;
  transition: width .25s;
}

#skills-list .badge:hover .overlay {
  opacity: 1;
}

#projects-nav {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: rgb(20, 20, 20);
}

#projects-nav h4 {
  width: 100%;
  color: white;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#projects-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#projects-links a {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #cccccc;
  text-align: center; 
  padding: 10px;
  padding-top: 0;
}

#projects-links a:hover {
  color: white;
}

.project-grid {
  display: flex;
  margin: 0;
  height: 550px;
  background-color: rgb(71, 71, 71);
}

.project-header {
  font-weight: normal;
  color: white;
  font-size: 24px;
  padding-top: 0;
  margin: 0;
}

.project-text {
  width: 30%;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 40px;
  padding-bottom: 50px;
  margin: 0;
}

.image-div {
  width: 70%;
  height: 550px;
}

.project-link {
  color: #cacaca;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  text-decoration: none;
}

.project-link:hover {
  color: #ffffff;
}

#wow-bg {
  background-image: url("./pictures/wowapp_1.png");
  background-size: cover;
}

#burger-bg {
  background-image: url("./pictures/burgerapp_1.png");
  background-size: cover;
}

#weather-bg {
  background-image: url("./pictures/weatherapp.png");
  background-size: cover;
}

#password-bg {
  background-image: url("./pictures/passwordapp.png");
  background-size: cover;
}

#schedule-bg {
  background-image: url("./pictures/schedulerapp.png");
  background-size: cover;
}

#readme-bg {
  background-image: url("./pictures/readmeapp.png");
  background-size: cover;
}

.project-border {
  background-color: rgb(20, 20, 20);
  height: 20px;
  width: 100%;
  text-align: center;
}

#home-link {
  color: #aaaaaa;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  line-height: 1.5rem;
  text-decoration: none;
}

#footer {
  color: #666666;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
}

@media (max-width: 895px) {
  #bio {
    display: flex;
    flex-direction: column;
  }

  #about {
    width: 100%;
    margin: 0;
  }

  #skills-list {
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }

  #skills-list .badge {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
  }

  #skills-list .badge:hover {
    width: 50px;
    height: 50px;
  }

  .profile-image {
    height: 145px;
    width: 145px;
    margin-top: 30px;
  }

  #header {
    width: 100%;
    margin: 0;
  }
  
  #header h1 {
    font-size: 24px;
    padding: 5px;
    padding-bottom: 0;
  }
  
  #header h2 {
    font-size: 10px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 25px;
  }

  #header-links {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #header-links a {
    width: 20%;
    font-size: 14px;
  }

  .project-grid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    height: 100%;
    background-color: rgb(71, 71, 71);
  }

  .image-div {
    width: 100%;
    height: 400px;
  }

  .project-text {
    width: 90%;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    margin: auto;
  }
}

@media (max-width: 700px) {
  #skills-list .badge {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  #skills-list .badge:hover {
    width: 40px;
    height: 40px;
  }

  .profile-image {
    height: 120px;
    width: 120px;
    margin-top: 20px;
  }
}

@media (max-width: 460px) {
  .image-div {
    height: 250px;
  }
}